-r requirements.txt
flake8==3.7.5
autopep8
bandit==1.5.1
prospector==1.1.6.2
ipython==7.2.0
ipdb==0.11
django_extensions==2.1.5
mock==2.0.0
pytest-django==3.9.0
python-language-server==0.23.2
autoflake==1.2
pytest-cov==2.6.1
sentry-sdk==0.11.1
django-debug-toolbar==3.1.1
django-querycount==0.7.0
pytest-sugar
pytest-picked