files:
        "/etc/cron.d/cron_process":
            mode: "000644"
            owner: root
            group: root
            content: |
                * * * * * root /usr/local/bin/task_process.sh

        "/usr/local/bin/task_process.sh":
            mode: "000755"
            owner: root
            group: root
            content: |
                #!/bin/bash
                exec &>> /tmp/cron_capture_log.txt
                date > /tmp/date
                source /var/app/venv/staging-LQM1lest/bin/activate
                cd /var/app/current
                python manage.py process_tasks 30


    commands:
        remove_old_cron:
            command: "rm -f /etc/cron.d/cron_process.bak"