{% load static %}
{% load frontend_tags %}
<html>
<head>
    {% if request.user.company.use_case == 'c' %}
        <title>{{ request.user.company.company_name }} Changelog</title>
    {% endif %}
    {% if request.user.company.use_case == 's' %}
        <title>{{ request.user.company.company_name }} Web builder</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display|Lato&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    {% if request.user.company.use_case == 'c' %}
        <a class="navbar-brand" href="/">Tandora Changelog</a>
    {% endif %}
    {% if request.user.company.use_case == 's' %}
        <a class="navbar-brand" href="/">Tandora Web builder</a>
    {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
          {% if request.user.company.use_case == 'c' %}<a class="nav-link" href="/staff/create-changelog">New Tandora</a>{% else %}<a class="nav-link" href="/staff/create-page">New Page</a>{% endif %}
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/staff/manage/profile/myself">Me</a>
          <a class="dropdown-item" href="/staff/manage/profile/company">Company</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% if request.user.company.admin == request.user %}
            <a class="dropdown-item" href="/staff/manage/users">Users</a>
          {% endif %}
          <a class="dropdown-item" href="/staff/manage/categories">Categories</a>
          {% if request.user.company.admin == request.user %}
            {% if request.user.company.use_case == 'c' %}
                <a class="dropdown-item" href="/staff/manage/integrations">Integrations</a>
            {% endif %}
          {% endif %}
          {% if request.user.company.use_case == 'c' %}
            <a class="dropdown-item" href="/staff/manage/widget">Widget</a>
          {% endif %}
          {% if request.user.company.use_case == 's' %}
            <a class="dropdown-item" href="/staff/manage/theme">Theme</a>
            <a class="dropdown-item" href="/staff/manage/static-site">Website</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="{% public_page_url %}">Public page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% if messages %}
    {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe }}
            </div>
    {% endfor %}
{% endif %}
{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.js"></script>
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script-->
<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<link rel="stylesheet" href="{% static 'css/codemirror.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/codemirror.js' %}"></script>
<script src="{% static 'js/codemirror-css.js' %}"></script>
<script src="{% static 'js/codemirror-js.js' %}"></script>
<script src="{% static 'js/codemirror-html-mixed.js' %}"></script>
<script>
  var javascriptTextarea = document.getElementById("id_javascript");
  if(javascriptTextarea) {
    var editor = CodeMirror.fromTextArea(javascriptTextarea, {
      lineNumbers: true, mode: {"name": "javascript"}
    });
  }
  var cssTextarea = document.getElementById("id_css");
  if(cssTextarea) {
    var editor = CodeMirror.fromTextArea(cssTextarea, {
      lineNumbers: true, mode: {"name": "css"}
    });
  }
</script>
<script>
    let body = document.getElementsByTagName('body')[0];
    body.style.fontFamily = "Lato";
</script>
<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
    if(!cssTextarea && !javascriptTextarea) {
        tinymce.init({
        selector: 'textarea',
        height: 300,
        menubar: true,
        plugins: [
            'advlist autolink lists link image imagetools charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image | help',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tiny.cloud/css/codepen.min.css'
        ],
        imagetools_cors_hosts: ['app.tandora.co', 'localhost:8000'],
        images_upload_url: '/api/v1/inline-image/',
        automatic_uploads: true,
        paste_data_images: true
        });
    }
</script>
<script src="{% static 'js/modal.min.js' %}"></script>
<script>
function performDelete(url, name) {
    var confirmModal = Modal.confirm('Are you sure to delete this ' + name + ' ?');
    confirmModal.show().once('dismiss', function(modal, ev, button) {
        if (button && button.value) {
            console.log(url);
            window.location.href = url;
            return true;
        }
    });
}
function showToast(toast_type, title, body) {
    toastr.options = {
      "positionClass": "toast-bottom-right"
    }
    toastr[toast_type](title, body);
}
</script>
</body>
</html>