{% extends "staff_v2/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-wrapper">
    {% include 'staff_v2/menu_postlogin.html' %}
    <section class="section-wrapper signin-page">
        <div class="container">
            <div class="row align-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="title">
                        <h3>{{ title }}</h3>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    {{ embed|safe }}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}