{% load humanize %}
{% load frontend_tags %}
<div class="container page">
    {% for changelog in object_list %}
    <div class="row">
        <div class="col-md-12">
            <div class="article-preview">
                <!--div class="article-meta">
                        Mete
                    <div class="info">
                        Info
                    </div>
                    <span class="date">Date</span>
                </div-->
                <div class="preview-link">
                    <h2><a href="/staff/changelog/{{ changelog.slug }}">{{ changelog.title }}</a></h2>
                    <span style="font-size:16px; color: white; background-color: {{ changelog.category.color }};">&nbsp{{ changelog.category.name }}&nbsp</span><br>
                    <i><span style="color:grey;">Created: {{ changelog.created_at|naturaltime }}</span><br></i><br>
                    <span style="color:black;font-size:16px;">{{ changelog.content|safe|extract_text_and_truncate }} ...</span>
                </div>
                {% if request.user.company.use_case == 'c' %}
                    <a class="card-link" href="/staff/edit-changelog/{{ changelog.id }}">Edit</a>
                    <a class="card-link" href="/staff/changelog/{{ changelog.slug }}">View</a>
                    <a class="card-link" style="color:red;" onclick="performDelete('/staff/delete-changelog/{{ changelog.id }}', 'changelog')">Delete</a>
                {% else %}
                    <a class="card-link" href="/staff/edit-page/{{ changelog.id }}">Edit</a>
                    <a class="card-link" href="/staff/page/{{ changelog.slug }}">View</a>
                    <a class="card-link" style="color:red;" onclick="performDelete('/staff/delete-page/{{ changelog.id }}', 'changelog')">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
        <center><h3>It's very quite here. Go ahead and Tandora now.</h3></center>
    {% endfor %}
</div>