{% load humanize %}
{% load frontend_tags %}
<div class="container page">
    {% for changelog in object_list %}
    <div class="row"
        {% if forloop.last and page_obj.has_next %}
        ic-trigger-on="scrolled-into-view"
        ic-append-from="{% url 'frontend-staff-index' %}?page={{ page_obj.next_page_number }}"
        ic-target="#changelogs"
        ic-indicator="#spinner"
        {% endif %} >
        <div class="col-md-12">
            <div class="article-preview">
                <div class="preview-link">
                    <h2><a href="/staff/changelog/{{ changelog.slug }}">{{ changelog.title }}</a></h2>
                    <span class="staff-category" style="background-color: {{ changelog.category.color }};color:white;">&nbsp{{ changelog.category.name }}&nbsp</span><br>
                    <i><span style="color:grey;">Created: {{ changelog.created_at|naturaltime }}</span><br></i><br>
                    <span style="color:black;font-size:16px;">{{ changelog.content|safe|extract_text_and_truncate }} ...</span>
                </div>
                <br>
                {% if request.user.company.use_case == 'c' %}
                    <a class="card-link" href="/staff/edit-changelog/{{ changelog.id }}"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                    <a class="card-link" href="/staff/changelog/{{ changelog.slug }}"><span style="color:green;"><i class="fas fa-eye"></i></span>&nbsp;View</a>
                    <a class="card-link" style="color:red;" onclick="performDelete('/staff/delete-changelog/{{ changelog.id }}', 'changelog')"><span style="color:red;"><i class="fas fa-trash"></i></span>&nbsp;Delete</a>
                {% else %}
                    <a class="card-link" href="/staff/edit-page/{{ changelog.id }}"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                    <a class="card-link" href="/staff/page/{{ changelog.slug }}"><span style="color:green;"><i class="fas fa-eye"></i></span>&nbsp;View</a>
                    <a class="card-link" style="color:red;" onclick="performDelete('/staff/delete-page/{{ changelog.id }}', 'changelog')"><span style="color:red;"><i class="fas fa-trash"></i></span>&nbsp;Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
        <center><h3>It's very quite here. Go ahead and Tandora now.</h3></center>
    {% endfor %}
</div>