<section class="section-breadcrumbs">
    <div class="container">
        {% include 'public/logo.html' %}
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="breadcrumbs-title">
                    <h1><a href="{{ company.website }}">
                        {% if company.publicpage.banner_title %}
                        {{ company.publicpage.banner_title }}
                        {% else %}
                        {{ company.company_name }}
                        {% endif %}
                    </a></h1>
                    <h3>{% if company.publicpage.banner_tag_line %}{{ company.publicpage.banner_tag_line }}{% else %}{{ company.changelog_terminology }}{% endif %}</h3>
                </div>
            </div>
        </div>
    </div>
</section>