<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- meta name="keywo   rds" content="HTML, CSS, JavaScript"-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <title>{{ changelog.title }}</title>
    <link href="assets/images/favicon.svg" rel="shortcut icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<div class="main-wrapper pt-0">
    <section class="section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="breadcrumbs-title">
                        <h1>{% if company.publicpage.banner_title %}
                            {{ company.publicpage.banner_title }}
                            {% else %}
                            {{ company.company_name }}
                            {% endif %}
                        </h1>
                        <h3>{% if company.publicpage.banner_tag_line %}{{ company.publicpage.banner_tag_line }}{% else %}{{ company.changelog_terminology }}{% endif %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-doctorparoma-details">
        <div class="doctorparoma-details-title">
            <h3>{{ changelog.title }}</h3>
            </divh>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="doctorparoma-details">
                            <div class="doctorparoma-top">
                                <a href="#">{{ changelog.category.name }}</a>
                                <span id="changelog-view-count">Views: {{ changelog.view_count }}</span>
                                <span>Created: {{ changelog.created_at|naturaltime }}</span>
                            </div>
                            <div class="doctorparoma-message">
                                {{ changelog.content|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
<footer class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="copyright-footer">
                    <p>Copyright @ 2021 <a href="https://tandora.co">Tandora</a> | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<a id="button"></a>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script defer>
    window.addEventListener("load", function() {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/v1/view-count/' + {{ changelog.id }} + '/', true)
        xhr.onload = function() {
            let changeViewCountElement = document.getElementById('changelog-view-count');
            let response = JSON.parse(this.responseText);
            changeViewCountElement.innerHTML = "Views: " +  response.view_count;
        }
        xhr.send({});
    });

</script>
</html>