<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- meta name="keywords" content="HTML, CSS, JavaScript"-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    {% if changelog %}
    <title>{{ changelog.title }}</title>
    {% elif company_name %}
    <title>{{ company_name }} - {{ terminology }}</title>
    {% elif page_title %}
    <title>{{ page_title }}</title>
    {% elif title %}
    <title>{{ title }} | Tandora Changelog</title>
    {% else %}
    <title>Tandora</title>
    {% endif %}
    <link href="assets/images/favicon.svg" rel="shortcut icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
{% block content %}
{% endblock %}
<footer class="section-footer">
         <div class="container">
            <div class="row">
               <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="copyright-footer">
                     <p>Copyright @ 2022 <a href="https://tandora.co">Tandora</a> | All Rights Reserved</p>
                  </div>
               </div>
            </div>
         </div>
</footer>
<a id="button"></a>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://tandora-changelog.s3.amazonaws.com/static/js/custom.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://tandora-changelog.s3.amazonaws.com/static/js/codemirror.js"></script>
<script src="https://tandora-changelog.s3.amazonaws.com/static/js/codemirror-css.js"></script>
<script src="https://tandora-changelog.s3.amazonaws.com/static/js/codemirror-js.js"></script>
<script src="https://tandora-changelog.s3.amazonaws.com/static/js/codemirror-html-mixed.js"></script>
<script src="https://cdn.tiny.cloud/1/5go3l67jw81vbd2io38hy95ya2zlyg7fnyjp2mjhnw41zudn/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
let javascriptTextarea = document.getElementById("id_javascript");
let cssTextarea = document.getElementById("id_css");
let tweetContentTextarea = document.getElementById("id_tweet_content");
  /*let javascriptTextarea = document.getElementById("id_javascript");
  if(javascriptTextarea) {
    var editor = CodeMirror.fromTextArea(javascriptTextarea, {
      lineNumbers: true, mode: {"name": "javascript"}
    });
  }
  let cssTextarea = document.getElementById("id_css");
  if(cssTextarea) {
    var editor = CodeMirror.fromTextArea(cssTextarea, {
      lineNumbers: true, mode: {"name": "css"}
    });
  }*/
</script>
<script>
    if(!cssTextarea && !javascriptTextarea && !tweetContentTextarea) {
        tinymce.init({
        selector: 'textarea',
        height: 300,
        menubar: true,
        plugins: [
            'advlist autolink lists link image imagetools charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image | help',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tiny.cloud/css/codepen.min.css'
        ],
        imagetools_cors_hosts: ['app.tandora.co', 'localhost:8000'],
        images_upload_url: '/api/v1/inline-image/',
        automatic_uploads: true,
        paste_data_images: true
        });
    }
</script>
<script src="https://tandora-changelog.s3.amazonaws.com/static/js/modal.min.js"></script>
<script>
function performDelete(url, name) {
    var confirmModal = Modal.confirm('Are you sure to delete this ' + name + ' ?');
    confirmModal.show().once('dismiss', function(modal, ev, button) {
        if (button && button.value) {
            console.log(url);
            window.location.href = url;
            return true;
        }
    });
}
function showToast(toast_type, title, body) {
    toastr.options = {
      "positionClass": "toast-bottom-right"
    }
    toastr[toast_type](title, body);
}
</script>
<script>
    function changeColorFieldBackground() {
        this.style.backgroundColor = this.value;
    }

    let colorFields = document.getElementsByClassName('colorfieldwidget');
    for(i=0; i<colorFields.length; i++) {
        colorField = colorFields[i];
        if(colorField.value) {
            colorField.style.backgroundColor = colorField.value;
        }
        colorField.addEventListener('change', changeColorFieldBackground);
    }
</script>
<script>
    let menuHightlightMap = {};
    let currentLocation = window.location.href;
    if(window.location.pathname != '/staff') {
        document.getElementById('menu-dashboard').classList.remove('active');
    }

    if(currentLocation.indexOf('create-changelog') > 0) {
        document.getElementById('menu-create-changelog').classList.add('active');
    }

    else if(currentLocation.indexOf('manage/profile') > 0) {
        document.getElementById('menu-profile').classList.add('active');
    }

    else if(currentLocation.indexOf('manage') > 0) {
        document.getElementById('menu-manage').classList.add('active');
    }

    else if(currentLocation.indexOf('billing') > 0) {
        document.getElementById('menu-billing').classList.add('active');
    }

</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YMRBDH48NE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YMRBDH48NE');
</script>
<!-- Hotjar Tracking Code for https://app.tandora.co -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2718710,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</html>