{% extends "staff_v2/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-wrapper">
    {% include 'staff_v2/menu_prelogin.html' %}
    <section class="section-wrapper signin-page">
        <div class="container">
            <div class="row align-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="title">
                        <h3>{{ title }}</h3>
                    </div>
                    <div class="profile-image">
                        <img src="https://tandora-production.s3.amazonaws.com/assets/assets/sign-up-img.svg" alt="profile-image">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="signin-form">
                        <div class="account-content">
                            <form method="POST" class="form" action="">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="theme-button">
                                    <button type="submit" class="submit-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
        let apiKey = document.getElementById('id_api_key');
        let extraActions = document.getElementById('extra_actions');
        if(apiKey && window.location.href.indexOf('/staff/manage/integrations') > 0) {
            function copyApiKey() {
                apiKey.select()
                apiKey.setSelectionRange(0, 99999);
                document.execCommand("copy");
                showToast('success', 'Api key is copied to clipboard', '');
            }
            let copyApiKeyButton = document.createElement('button');
            copyApiKeyButton.classList.add('btn');
            copyApiKeyButton.classList.add('btn-dark');
            copyApiKeyButton.innerHTML = '<i class="far fa-copy"></i>&nbsp;&nbsp;Copy Api key';
            copyApiKeyButton.onclick = copyApiKey;
            extraActions.appendChild(copyApiKeyButton);
        }
</script>
<script>
        // Logo validation error is not shown; On inspecting, it's display was set to none;
        // In order to ensure, we do not miss out any validation errors, getting all error messages
        // and if their display is none, we are enabling it's display.
        errorElements = document.getElementsByClassName('invalid-feedback');
        for(i=0; i<errorElements.length; i++) {
            errorElements[i].style.display = 'block';
        }
</script>
{% endblock %}
