{% extends "staff_v2/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="main-wrapper">
    {% include 'staff_v2/menu_prelogin.html' %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
     role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    <section class="section-wrapper signin-page">
        <div class="container">
            <div class="row align-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="title">
                        <h2>Login to access <br><span>Tandora</span> Changelog</h2>
                        <p>If You don't have an account you can<br> <a href="/signup">Register Here! </a> for a 7 day free trial. No credit card required.</p>
                    </div>
                    <div class="profile-image">
                        <img src="https://tandora-production.s3.amazonaws.com/assets/assets/signin.png" alt="profile-image">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="signin-form">
                        <div class="account-content">
                            <form method="post" class="form" id="login_form" action="/login">
                               {% csrf_token %}
                                {{ form|crispy }}
                                <div class="remember wow fadeInRight" data-wow-delay="0.4s">
                                    <a class="forgot-pass" href="/forgot-password">Forgot Password ?</a>
                                </div>
                                <div class="theme-button">
                                    <button type="submit" class="submit-btn">Sign In</button>
                                </div>
                            </form>
                            <!--div class="form-footer wow fadeIn" data-wow-delay="0.8s">
                                <p class="border-bottom wow fadeIn" data-wow-delay="0.9s">
                                    <span> or cintinue with </span></p>
                                <div class="social-share wow fadeIn" data-wow-delay="1s">
                                    <a href="https://www.facebook.com/" class="facebook-btn"><img
                                            src="assets/images/facebook-icon.svg" alt="facebook"></a>
                                    <a href="https://www.google.com/" class="google-btn"><img
                                            src="assets/images/google-icon.svg" alt="google"></a>
                                    <a href="https://www.twitter.com/" class="twitter-btn"><img
                                            src="assets/images/twitter.svg" alt="twitter"></a>
                                </div>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}