<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav13"
                aria-controls="basicExampleNav13" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="https://tandora-production.s3.amazonaws.com/assets/assets/logo.svg" alt="logo"></a>
        <div class="collapse navbar-menu navbar-collapse" id="basicExampleNav13">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/login" class="nav-link active">Sign in</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link register-button">Signup for free trial</a>
                </li>
            </ul>
        </div>
    </nav>
</header>