{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div id='c-banner' class="banner">
    <div class="container">
        <h1 class="logo-font">
            {{ company_name }}
        </h1>
        <p style="text-align:center;">{{ terminology }} </p>
    </div>
</div>
<div class="container">
    <center><h1>{{ changelog.title }}</h1></center>
    <span style="color: white; background-color:{{ changelog.category.color }};">&nbsp{{ changelog.category.name }}&nbsp</span><br>
    <i><span style="color:grey;">Created: {{ changelog.created_at|naturaltime }}</span><br></i>
    <!--i><span style="color:grey;">Last updated: {{ changelog.last_edited_at|naturaltime }}</span><br></i-->
    <br>
    <div>
        <span>{{ changelog.content|safe }}</span>
    </div>
    <span style="color:grey;">
        <u>Views: <span id="changelog-view-count">{{ changelog.view_count }}</span></u>
    </span>
</div>
<script>
    {% include 'public/customize-page.js' %}
</script>
<script defer>
    window.addEventListener("load", function() {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/v1/view-count/' + {{ changelog.id }} + '/', true)
        xhr.onload = function() {
            let changeViewCountElement = document.getElementById('changelog-view-count');
            let response = JSON.parse(this.responseText);
            changeViewCountElement.innerHTML = response.view_count;
        }
        xhr.send({});
    });
</script>
{% endblock %}