{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container form-container">
    <div class="row">
        <div class="col-md-5">
            <center><h3>{{ title }}</h3></center>
            {% if extra %}
            <span>{{ extra|safe }}</span>
            {% endif %}
            <form id="form" method="post" action="{{ action }}">
                {% csrf_token %}
                {{ form|crispy }}
                <center>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    <button class="btn btn-default" type="reset">Reset</button>
                </center>
            </form>
        </div>
         <div class="col-md-7">
            <img class="img-fluid" src="https://tandora-production.s3.amazonaws.com/assets/images/Tandora-banner.png">
        </div>
    </div>
</div>
{% endblock %}