{% extends "base.html" %}
{% load humanize %}
{% block content %}
{% include 'public/banner.html' %}
<div class="container page">
    {% for changelog in changelogs|slice:changelog_limit %}
    <div class="row">
        <div class="col-md-12">
            <div class="article-preview">
                <!--div class="article-meta">
                        Mete
                    <div class="info">
                        Info
                    </div>
                    <span class="date">Date</span>
                </div-->
                <div>
                    <h2><!--a href="/{{ company_name}}/{{ terminology }}/{{ changelog.slug }}"-->{{ changelog.title }}<!--/a--></h2>
                    <span style="color: white; background-color: {{ changelog.category.color }};">&nbsp{{ changelog.category.name }}&nbsp</span><br>
                    <i><span style="color:grey;">Created: {{ changelog.created_at|naturaltime }}</span><br></i><br>
                    <span style="font-color:black;">{{ changelog.content|safe }}</span>
                    <!--span><a href="/{{ company_name}}/{{ terminology }}/{{ changelog.slug }}">Read more..</a></span-->
                </div>
            </div>
            <hr>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    {% include 'public/customize-page.js' %}
</script>
{{ widget.javascript|safe }}
<style>
{{ widget.css }}
</style>
<script>
{% if widget.hide_banner %}
    document.getElementById('c-banner').style.display = 'none';
{% endif %}
</script>
{% endblock %}