{% extends "base-after-login.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
    {% endfor %}
{% endif %}
<div id="changelogs">
{% include 'changelog_items.html' %}
</div>
<img id="spinner" src="/static/images/loading.gif" style="display:none">
<!--div id="editor">
  <p>Hello World!</p>
  <p>This is just some sample text you can <b>delete</b>.</p>
</div>
  <center id="loading-spinner">
  <div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-rolling"><div></div></div>
  </center>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" onclick="openEditor();">
  <i class="material-icons">add</i>
  </button-->
{% endblock %}