{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tandora</title>
    {% if font_link %}
        <link href="{{ font_link }}" rel="stylesheet">
    {% else %}
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    {% endif %}
    <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<script>
</script>
<body>
{% if hide_tandora_logo is None %}
<div class="container">
    <center><h1><a style="color:#428bca;" href="https://www.tandora.co">tandora</a></h1></center>
</div>
{% endif %}
{% block content %}
{% endblock %}
{% if plan_features.show_tandora_branding_at_footer %}
    <footer>
        Powered by <a href="https://www.tandora.co/?from=changelog">Tandora</a>
    </footer>
{% endif %}
</body>
</html>
