{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if changelog %}
    <title>{{ changelog.title }}</title>
    {% elif company_name %}
    <title>{{ company_name }} - {{ terminology }}</title>
    {% elif page_title %}
    <title>{{ page_title }}</title>
    {% else %}
    <title>Tandora</title>
    {% endif %}
    <!--link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet"-->
    {% if company.publicpage.font %}
        <link href="{{ company.publicpage.font }}" rel="stylesheet">
    {% else %}
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display|Lato|Nunito&display=swap" rel="stylesheet">
    {% endif %}
    <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <style>
        .category {
            font-size: 16px;
            color: white;
            margin-right: 10px;
            border-radius: 20px;
            padding: 1px 9px;
            height: 20px;
            line-height: 19px;
            margin-bottom: 5px;
            transition: background-color .15s;
        }
    </style>
</head>
<script defer>
    window.addEventListener("load", function() {
        let allImages = document.getElementsByTagName('img');
        for(i=0; i<allImages.length; i++) {
            currentImage = allImages[i];
            currentImage.classList.add('img-fluid');
        }
    })
</script>
<body>
{% if hide_tandora_logo is None %}
<!--div class="container">
    <center><h1><a style="color:#428bca;" href="https://tandora.co">tandora</a></h1></center>
</div-->
{% endif %}
{% block content %}
{% endblock %}
{% if plan_features.show_tandora_branding_at_footer %}
    <footer>
        Powered by <a target="_blank" href="https://tandora.co/?from=changelog">Tandora</a>
    </footer>
{% endif %}
</body>
</html>
