<div class="container page">
    {% for changelog in object_list %}
    <div class="row">
        <div class="col-md-12">
            <div class="article-preview">
                <!--div class="article-meta">
                        Mete
                    <div class="info">
                        Info
                    </div>
                    <span class="date">Date</span>
                </div-->
                <div class="preview-link">
                    <h2><a href="/staff/changelog/{{ changelog.slug }}">{{ changelog.title }}</a></h2>
                    <span>{{ changelog.content|safe }}</span>
                </div>
                <a class="card-link" href="/staff/edit-changelog/{{ changelog.id }}">Edit</a>
                <a class="card-link" href="/staff/changelog/{{ changelog.slug }}">View</a>
                <a class="card-link" href="/staff/delete-changelog/{{ changelog.id }}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>