{% for changelog in object_list %}
<div class="card"
     {% if forloop.last and page_obj.has_next %}
     ic-trigger-on="scrolled-into-view"
     ic-append-from="/changelogs?page={{ page_obj.next_page_number }}"
     ic-target="#changelogs"
     ic-indicator="#spinner"
     {% endif %}
>
    <div class="card-body">
        <h5 class="card-title">{{ changelog.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ changelog.category }}</h6>
        <span class="card-text">{{ changelog.content|safe }}</p>
        <a class="card-link" href="/edit-changelog/{{ changelog.id }}">Edit</a>
        <a class="card-link" href="/changelog/{{ changelog.slug }}">View</a>
        <a class="card-link" href="/delete-changelog/{{ changelog.id }}">Delete</a>
    </div>
</div>
{% endfor %}