{% load static %}
<html>
<head>
    <title>Tandora</title>
    <link href="https://fonts.googleapis.com/css?family=Duru+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<script>

</script>
{% if is_logged_in is None  %}
<h1>Login</h1>
<form id="login_form" method="post" action="/login">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>
{% else %}
   <script>
       localStorage.setItem("auth-token", "{{ token }}");
       localStorage.setItem("email", "{{ email }}");
       window.location.href = "/app";
   </script>
{% endif %}
</html>
