{% extends "base.html" %}
{% block content %}
<div id='c-banner' class="banner">
    <div class="container">
        <h1 class="logo-font">
            {{ company_name }}
        </h1>
        <p style="text-align:center;">{{ terminology }} </p>
    </div>
</div>
<div class="container">
    <center><h1>{{ changelog.title }}</h1></center>
    <i><h6 style="color:{{ changelog.category.color }}">{{ changelog.category.name }}</h6></i>
    <div>
        <span>{{ changelog.content|safe }}</span>
    </div>
</div>
<script>
    let banner = document.getElementById('c-banner');
    banner.style.backgroundColor = "{{ color }}";
    let body = document.getElementsByTagName('body')[0];
    body.style.fontFamily = "Poppins";
</script>
{% endblock %}