{% extends "public_v3/base.html" %}
{% load humanize %}
{% block content %}
<div class="blog-details">
    <div class="container">
        <div class="blog-details-card">
            {% if changelog.featured_image %}
            <img src="{{ changelog.featured_image.url }}" class="blog-img" alt="Blog">
            {% endif %}
            <div class="content">
                <div class="blog-profile">
                    <!--div class="icon">
                        <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/profile.png" alt="Profile">
                    </div-->
                    <div class="designation">
                        <h5>{{ changelog.title }}</h5>
                        <h6>{{ changelog.created_at|naturaltime }}</h6>
                    </div>
                </div>
                <div class="blog-btn">
                    <p class="eye"><img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/eye.svg" alt="Eye"><span id="changelog-view-count">{{ changelog.view_count }}</span></p>
                    <a href='#' class="feature-btn" style="color: {{ changelog.category.color }}; border: 1px solid {{ changelog.category.color }};">{{ changelog.category }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-details-list section-gap">
    <div class="container">
        {{ changelog.content|safe }}
        <!--div class="links">
            <a href="javascript:void(0)" class="prev"> <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="Arrow"> Fully customizable themes and site deployments</a>
            <a href="javascript:void(0)" class="next">Linked Content Blocks <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="arrow"></a>
        </div-->
    </div>
</div>
<script defer>
    window.addEventListener("load", function() {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/v1/view-count/' + {{ changelog.id }} + '/', true)
        xhr.onload = function() {
            let changeViewCountElement = document.getElementById('changelog-view-count');
            let response = JSON.parse(this.responseText);
            changeViewCountElement.innerHTML = response.view_count;
        }
        xhr.send({});
    });
</script>
{% endblock %}