{% extends "public_v3/base.html" %}
{% load humanize %}
{% block content %}
<div class="letest-blog section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <h2 class="heading title">Latest</h2>
                <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/blog.png" alt="Image">
            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="blog-content">
                    <div class="content-header">
                        <h6>27 August 2021</h6>
                        <a href="javascript:void(0)" class="feature-btn">feature</a>
                    </div>
                    <div class="content-body">
                        <h2>Fully customizable
                            themes and site
                            deployments</h2>
                        <p>Fully customizable themes, react UI library and site deployments </p>
                        <a href="javascript:void(0)" class="">Read <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="read"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="recent-blog section-gap">
    <div class="container">
        <h2 class="heading title">Recent</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/blog1.png" class="blog-img" alt="Blog">
                    <div class="content">
                        <h6>27 August 2021</h6>
                        <h2>Fully customizable themes and site deployments</h2>
                        <div class="body-btn">
                            <a href="javascript:void(0)" class="feature-btn">feature</a>
                            <a href="javascript:void(0)" class="feature-btn impr">improvement</a>
                        </div>
                        <p>We're excited to announce Email retargeting, LinkedIn Org support and Linear integration!</p>
                        <div class="read">
                            <a href="javascript:void(0)">Read <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="Arrow"></a>
                            <h5> <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/eye.svg" alt="Eye"> 321</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/blog2.png" class="blog-img" alt="Blog">
                    <div class="content">
                        <h6>27 August 2021</h6>
                        <h2>Fully customizable themes and site deployments</h2>
                        <div class="body-btn">
                            <a href="javascript:void(0)" class="feature-btn">feature</a>
                            <a href="javascript:void(0)" class="feature-btn impr">improvement</a>
                        </div>
                        <p>We're excited to announce Email retargeting, LinkedIn Org support and Linear integration!</p>
                        <div class="read">
                            <a href="javascript:void(0)">Read <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="Arrow"></a>
                            <h5> <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/eye.svg" alt="Eye"> 321</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/blog3.png" class="blog-img" alt="Blog">
                    <div class="content">
                        <h6>27 August 2021</h6>
                        <h2>Fully customizable themes and site deployments</h2>
                        <div class="body-btn">
                            <a href="javascript:void(0)" class="feature-btn">feature</a>
                            <a href="javascript:void(0)" class="feature-btn impr">improvement</a>
                        </div>
                        <p>We're excited to announce Email retargeting, LinkedIn Org support and Linear integration!</p>
                        <div class="read">
                            <a href="javascript:void(0)">Read <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="Arrow"></a>
                            <h5> <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/eye.svg" alt="Eye"> 321</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/blog4.png" class="blog-img" alt="Blog">
                    <div class="content">
                        <h6>27 August 2021</h6>
                        <h2>Fully customizable themes and site deployments</h2>
                        <div class="body-btn">
                            <a href="javascript:void(0)" class="feature-btn">feature</a>
                            <a href="javascript:void(0)" class="feature-btn impr">improvement</a>
                        </div>
                        <p>We're excited to announce Email retargeting, LinkedIn Org support and Linear integration!</p>
                        <div class="read">
                            <a href="javascript:void(0)">Read <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="Arrow"></a>
                            <h5> <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/eye.svg" alt="Eye"> 321</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/blog5.png" class="blog-img" alt="Blog">
                    <div class="content">
                        <h6>27 August 2021</h6>
                        <h2>Fully customizable themes and site deployments</h2>
                        <div class="body-btn">
                            <a href="javascript:void(0)" class="feature-btn">feature</a>
                            <a href="javascript:void(0)" class="feature-btn impr">improvement</a>
                        </div>
                        <p>We're excited to announce Email retargeting, LinkedIn Org support and Linear integration!</p>
                        <div class="read">
                            <a href="javascript:void(0)">Read <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="Arrow"></a>
                            <h5> <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/eye.svg" alt="Eye"> 321</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/blog6.png" class="blog-img" alt="Blog">
                    <div class="content">
                        <h6>27 August 2021</h6>
                        <h2>Fully customizable themes and site deployments</h2>
                        <div class="body-btn">
                            <a href="javascript:void(0)" class="feature-btn">feature</a>
                            <a href="javascript:void(0)" class="feature-btn impr">improvement</a>
                        </div>
                        <p>We're excited to announce Email retargeting, LinkedIn Org support and Linear integration!</p>
                        <div class="read">
                            <a href="javascript:void(0)">Read <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/read.svg" alt="Arrow"></a>
                            <h5> <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/eye.svg" alt="Eye"> 321</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-pagination">
            <ul>
                <li><a href="javascript:void(0)" class="prev"> <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/pagi-arrow.svg" alt="Arrow"> Prev</a></li>
                <li><a href="javascript:void(0)" class="num">1</a></li>
                <li><a href="javascript:void(0)" class="num active">2</a></li>
                <li><a href="javascript:void(0)" class="num">3</a></li>
                <li><a href="javascript:void(0)" class="num">4</a></li>
                <li><a href="javascript:void(0)" class="num d-none d-md-block">.....</a></li>
                <li><a href="javascript:void(0)" class="num d-none d-md-block">10</a></li>
                <li><a href="javascript:void(0)" class="num d-none d-md-block">11</a></li>
                <li><a href="javascript:void(0)" class="num d-none d-md-block">12</a></li>
                <li><a href="javascript:void(0)" class="next active"> Next <img src="https://tandora-production.s3.amazonaws.com/assets/assets/public_v3/images/pagi-arrow.svg" alt="Arrow"> </a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}